.sidebar {
  margin-right: 10px;
  width: 10%;
  min-width: 300px;
  padding: 40px 0 0 0;
  .title_block {
    border-bottom: 1px solid var(--darkFont);
    padding: 0 25px 25px 30px;
    p {
      margin-left: 10px !important;
      font-size: 20px;
    }
  }
  .tabs_list {
    border-bottom: 1px solid var(--darkFont);
    padding: 30px 0 30px 30px;
    .active-tab {
      background-color: var(--darkSecondary) !important;
    }
    li {
      padding: 10px 0;
      span {
        margin-right: 10px !important;
        img{
          object-fit: contain;
        }
      }
    }
  }
  .log_out {
    padding: 30px 0 30px 30px;
    span {
      margin-right: 10px !important;
    }
  }
}
