.top_bar {
	display: flex;
	align-items: center;
	div {
		margin: 0 10px;
	}
	.search_container {
		position: relative;
		input {
			position: relative;
			max-width: 200px;
			height: 30px;
			border-radius: 30px;
            background-color: var(--darkQuaternary);
		}
		.icon {
			position: absolute;
			top: 5px;
			right: 5px;
			color: black;
            
            width: 20px;
            height: 20px;

		}
        img{
            filter: invert(1);
        }
	}
    .bell_icon{
        img{
            width: 30px;
            height: 30px;
            filter: invert(1);
        }
    }
	.user {
		display: flex;
		justify-content: center;
		align-items: center;
		.user_image_container {
			width: 30px;
			height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--darkFont);
			border-radius: 100%;
            margin-right: 10px;
			.user_image {
					width: 20px;
					height: 20px;
					border-radius: 100%;
				
			}
		}
	}
}
