.heroScreen {
  width: 90%;
  background-color: var(--darkSecondary);
  .nav_bar {
    float: right;
  }
  .cards_container {
    margin-top: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
