.heroScreen {
  margin: 40px 40px 40px 0 !important;
  width: 90%;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--darkSecondary);
  .nav_bar {
    float: right;
    width: 100%;
  }

  .page_head {
    margin: 60px 0 20px 10px;
    font-size: 22px;
    font-weight: 800;
  }

  .pagination {
    ul {
      li {
        text-align: center;
        font-weight: 600;
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 50%;
        &.active_page {
          background-color: var(--blue);
        }
        &:first-child {
          margin-right: 30px;
        }
        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }
  &.light {
    background-color: var(--lightSecondary);
    .page_head {
      color: var(--lightFont);
    }
    .pagination {
      li {
        color: var(--lightFont) !important;
        &.active_page {
          background-color: var(--light);
          color: var(--darkFont) !important;
        }
      }
    }
  }
}
