@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --dark: #1b263c;
  --darkSecondary: #232d46;
  --darkTertiary: #28344e;
  --darkQuaternary: #303c56;
  --darkFont: #ffffff;
  --lightTertiary: #fff;
  --light: #1e40ae;
  --lightSecondary: #f1f4f9;
  --lightFont: #020202;
  --blue: #608cf7;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--darkFont) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.main-wrapper {
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.container-fluid {
  max-width: 100% !important;
  height: 100vh;
  width: 100% !important;
  padding: 30px 20px !important;
}
.bold {
  font-weight: 600;
}
.normal {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
